@import url('fonts.css');
@import url('flex.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
}

html {
	overflow: hidden;
}

a {
	cursor: default;
}

body {
	font: 11px/14px 'GothamProRegular', sans-serif;
	color: #000000;
}

#wrapper {
	position: fixed;
	top: 0;
	right:0;
	bottom: 0;
	left: 0;
}

#topLeft {
	padding-top: 13px;
	padding-left: 20px;
	z-index: 1;
	position: relative;
	cursor: default;
}

#topLeft .logo {
	font: 14px/20px 'GothamProBold', sans-serif;
	letter-spacing: -0.3px;
}

#topLeft .logo:hover {
	cursor: pointer;
}

#topLeft .logo span {
	display: inline-block;
	color: #ffffff;
	padding: 5px 5px 4px 5px;
	margin-right: 3px;
	background: #000000;
	border-radius: 2px;
}

#topLeft .logo span:hover {
	background: #f5ff4c;
	color: #000000;
	cursor: pointer;
}

#topLeft .info {
	position: absolute;
	top: 19px;
	right: 30px;
	font-size: 0;
}

#topLeft .info__item {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 20px;
	margin-left: 20px;
}

#topLeft .info__item img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}


#slides li {
	display: inline-block;
	background-size: contain;
	position: fixed;
	background-position: center;
	background-repeat: no-repeat;
	top: 70px;
	right: 0;
	bottom: 124px;
	left: 0;

	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

#slides li:active {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

#slides li.intro .caption { display: none; }
#slides li.pipe { background-image: url(../i/pipe.png); }
#slides li.particula { background-image: url(../i/particula.jpg); }
#slides li.scrapp { background-image: url(../i/scrapp.jpg); }
#slides li.healbe { background-image: url(../i/healbe.jpg); }
#slides li.fitclub { background-image: url(../i/fitclub.jpg); }
#slides li.castweek { background-image: url(../i/slide-pipe.jpg); }
#slides li.supremecourt { background-image: url(../i/slide-pipe.jpg); }
#slides li.particula-is { background-image: url(../i/slide-pipe.jpg); }
#slides li.transsistemotekhnika { background-image: url(../i/slide-pipe.jpg); }


#slides p { margin-bottom: 14px; }
#slides a { 
	color: #000000; 
	text-decoration: none; 
	cursor: pointer; 
}
#slides a[target="_blank"]:hover {
	opacity: 0.5;
	text-decoration: underline;
}

#slides a[target="_blank"]:hover:after {
	opacity: 0.5;
}

#slides a[target="_blank"]:after {
	vertical-align: middle;
	display: inline-block;
	content: "";
	width: 6px;
	height: 6px;
	background-image: url("../i/arrow.png");
	background-size: 6px 6px;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
  top: 0px;
  left: 4px;
}

#slides p { margin-bottom: 14px; }

#wrapper .mail-link {
	text-decoration: none !important;
}

#wrapper .mail-link:hover {
	opacity: 0.5;
	text-decoration: underline !important;
}

.caption {
	position: absolute;
	top: 0;
	max-width: 170px;

	/*pointer-events: none;*/
	padding-left: 20px;
	padding-top: 34px;
	visibility: hidden; /*Made visible in JS once layout has been calculated*/
}

.captionImg {
	display: block;
	position: relative;
	width: 30px;
	height: 30px;
	font-size: 0;
	margin-bottom: 8px;
	cursor: pointer;
	background-size: contain;
}

.caption .pipe { background-image: url(../i/pipe-logo.png); }
.caption .particula { background-image: url(../i/particula-logo.png); }
.caption .scrapp { background-image: url(../i/scrapp-logo.png); }
.caption .healbe { background-image: url(../i/healbe-logo.png); }
.caption .fitclub { background-image: url(../i/fitclub-logo.png); height: 27px; }

.text {
	position: absolute;
	top: 88px;
	left: 0;
	right: 0;
	height: 100%;
	overflow: auto;
}

.text__in {
	width: 76%;
	max-width: 765px;
	margin: 0 auto;
	font: 26px/61px 'GothamProBold', sans-serif;
	letter-spacing: -0.6px;
	text-align: center;
}

.text__in span{
	font-family: 'GothamPro', sans-serif;
}

.text__big {
	font-size: 48px;
	letter-spacing: -1px;
}

.text a { color: #000000; text-decoration: underline !important; }
.text a:hover {
	text-decoration: underline;
	opacity: 0.7;
}

.text p { margin-bottom: 8px; }


.fade {
	position: fixed;
	bottom: 0px;
	height: 58px;
	width: 150px;
	pointer-events:none;
}

#rightFade {
	right: 0;
	background-image: -moz-linear-gradient( 180deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
	background-image: -webkit-linear-gradient( 180deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
	background-image: -ms-linear-gradient( 180deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
}

#leftFade {
	left: 0;
	background-image: -moz-linear-gradient( 0deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
	background-image: -ms-linear-gradient( 0deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
}

#nav {
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 50%;
	white-space: nowrap;
	background: #ffffff;
}

#nav li {
	display: inline-block;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: -0.4px;
	padding: 0 13px;
	cursor: pointer;;
}

#nav div {
	position: relative;
	padding: 30px 10px 56px 10px;
}

#nav span {
	position: absolute;
	top: 11px;
	left: 10px;
	font-family: 'GothamProRegular';
	font-size: 12px;
	text-transform: uppercase;
	color: #7f7f7f;
}

#nav ._active div {
	font-family: 'GothamProBold';
	background: #f5ff4c;
}

#nav ._active span { color: #000000; }

/*iPhone*/
@media only screen and (max-device-width: 628px) {
	body { font-size: 9px; line-height: 12px; }

	#nav li { padding: 0 3px; }
	#nav div { padding-bottom: 35px; }

	.fade {
		width: 40px;
	}

	#slides li {
		top: 60px; right: 90px; bottom: 100px; left: 10px;
	}

	.caption {
		padding-left: 8px;
		padding-top: 0;
		opacity: 1 !important;
	}

	.text { right: -80px; top: 0; }

	.text__in { font-size: 18px; line-height: 25px; }

	.text__big { font-size: 24px; line-height: 35px; }

	#topLeft { padding-left: 10px; }
	#topLeft .info { right: 10px; }
	#topLeft .info__item { margin-left: 10px; font-size: 10px; }

}

/*Landscape iPhone*/
@media only screen and (max-device-width: 628px) and (orientation : landscape) {
	.fade {
		width: 70px;
	}
}

/*iPhone and iPad*/
@media (max-device-width : 1024px) {
	body {
		overflow: hidden;
	}
}

/*iPad*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	#slides li {
		right: 150px; left: 10px;
	}

	.text { right: -140px; }
}


@media only screen and (max-device-width : 414px) {
	.text__in { margin: 100px auto; }
}
